body{

}

font {
    font-family: "tahoma", "trebuchet ms";  
}

H1 {
    font-size: 64;
    color: white;
   
}

H2 {
    
    font-size: 64;
    color: white;
}

.jumbotron {
    background-color: #dcb95f;
    margin:0px;
    padding: 0px;
   
}

.navbar{
    background-color: #76521e;
    margin-bottom: 40px;    
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.inventory-container {
    padding:30px;
}
.card-img-top{
    height: 300px;
    width: 200px;
    align-self: center;    
}
.footer-container{
    margin-top: 30px;
}

.card{
    padding: 15px;
}